:root {
    --tamanhoPersonagem: calc(1632px / 6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.botao{
    background-color: blueviolet;
    padding: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.botao:hover{
    background-color: rgb(179, 109, 244);
    transform: scale(1.05);
}
.carregando{
    width: 100px;
    height: 100px;
    border: 5px aqua solid;
    border-top-color: black;
    background-color: aqua;
    border-radius: 50px;
    animation: carregando 0.5s linear infinite;
}
@keyframes carregando{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.personagem02{
    width: var(--tamanhoPersonagem);
    height: 430px;
    background-image: url(../img/image.png);
    animation: andar 390ms steps(6) infinite, correr 2s linear infinite;
    filter: drop-shadow(20px 3px 3px #bbb);
}

@keyframes andar{
    from{
        background-position: 0px;
    }
    to{
        background-position: -1632px;
    }
}

@keyframes correr {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(calc(100vw - var(--tamanhoPersonagem)));
    }
}

.card{
    width: 30vw;
    height: 100px;
    background-color: #f1f1f1;
    border: 1px #c2c2c2 solid;
    border-radius: 10px;
    padding: 5px;
}
.fade-in{
    animation: mover 1s ease-out;
}
.containerCard{
    display: flex;
    justify-content: flex-end;
}
.fade-in-right{
    animation: mover2 1s ease-out;
}
@keyframes mover {
    from{
        opacity: 0;
        transform: translateX(-60px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mover2 {
    from{
        opacity: 0;
        transform: translateX(60px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}